{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>

<head>
    <title>Sortit de ma première page avec OpenClassrooms !</title>
</head>

<body>
    <h1>Au revoir {{ nom }} !</h1>

    <p>

    </p>
</body>

</html>